In [69]:
import pandas as pd

def get_repr_in_7_base(v):
    repr = ''
    v2 = v
    
    while v2 >= 7:
        remainder = v2 % 7
        v2 = v2 // 7
        repr = repr + str(remainder)

    return str(v2) + repr

base_v = 7 ** 170 + 7 ** 100
max_zeros_count = 0
max_x = 0
df = pd.DataFrame(columns=['x', 'repr', 'zeros_count'])

for x in range(1, 2030):
    v = base_v - x
    v = get_repr_in_7_base(v)
    zeros_count = len(''.join(map(lambda x: x if x == '0' else '',  v)))

    if zeros_count > max_zeros_count:
        max_zeros_count = zeros_count
        max_x = x

    df.loc[len(df)] = [x, v, zeros_count]

print(f'max x = {max_x}, zeros_count = {max_zeros_count}')

max x = 343, zeros_count = 73

In [61]:
v = base_v - 1715
v = get_repr_in_7_base(v)
len(''.join(map(lambda x: '.' if x == '0' else '',  v)))

73

In [67]:
get_repr_in_7_base(48)

'66'

In [70]:
df

         x                                               repr  zeros_count
0        1  1666666666666666666666666666666666666666666666...           70
1        2  1566666666666666666666666666666666666666666666...           70
2        3  1466666666666666666666666666666666666666666666...           70
3        4  1366666666666666666666666666666666666666666666...           70
4        5  1266666666666666666666666666666666666666666666...           70
...    ...                                                ...          ...
2024  2025  1540166666666666666666666666666666666666666666...           71
2025  2026  1440166666666666666666666666666666666666666666...           71
2026  2027  1340166666666666666666666666666666666666666666...           71
2027  2028  1240166666666666666666666666666666666666666666...           71
2028  2029  1140166666666666666666666666666666666666666666...           71

[2029 rows x 3 columns]